
/*whole page edits*/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*header*/
header {
  background-color: rgb(3, 14, 48);
  padding: 20px 0;
}

/*h tags*/
h1 {
  font-family: "Lobster", cursive;
  color: whitesmoke;
  margin: 0;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
  text-shadow: 2px 2px 4px rgb(44, 44, 44);
}

h5 {
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px 3px rgb(44, 44, 44);
  font-size: 25px;
    
  
    text-shadow: 2px 2px 3px rgb(44, 44, 44);
    font-size: 25px; 
}

/* Jumbotrom text decorations */
.caption {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0 10px 20px 10px;
  margin-top: 30px;
}

/* Input styling */
#input {
  background-color: white;
  margin-right: 7px;
}

/* Localstorage Previous Searches Styling */
.custom-previous-search-header {
  padding: 0 !important;
  background-color: #26a69a;
  color: white;
}

.custom-collapsible-body {
  padding: 10px 10px 10px 30px;
}

/*main tag, changing background*/
main {
  background-color: rgb(224, 224, 224);
}

/*getting rid of slider dots*/
.indicators {
  display: none;
}

/*font size increase within search bar*/
#input {
  padding-left: 10px;
  font-size: 20px;
}

/*darkening the placeholder in the search bar*/
::placeholder {
  color: gray;
}

#checkbox-header {
  font-size: 25px;
}

/*google maps edits*/
#map {
  height: 600px;

}

#map-cont {
  padding: 30px 15px 15px 0;
}

/* Message styling */
.msg {
  color: red;
}

/* Styling for the lists being created dynamically */
.li-styling {
  list-style-type: square !important;
}

/* footer */
footer {
  text-align: center;
  padding: 10px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  background-color: rgb(3, 14, 48);
}

footer p {
  margin: 0 !important;
  color: white;
}

.row {
  margin-bottom: 0 !important;
}

footer a {
  color: white;
}
